body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #c8a0dcb3;
    color: #000;
}

.logo {
    font-size: 32px;
}

.navbar {
    display: flex;
}

.nav-links {
    display: flex;
    margin-left: auto;
}

.nav-links a {
    color: #000;
    margin-right: 20px;
}

.pagina-inicial {
    background-color: #fff3f3;
    color: #000000;
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.texto {
    max-width: 50%; 
}

.texto h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.texto p {
    font-size: 18px;
    margin-bottom: 20px;
}

.comprar-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6a5acd;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.comprar-btn:hover {
    background-color: #4b0082;
}

.imagem img {
    width: 800px;
}


.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.produto {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.preco {
    font-weight: bold;
    color: #6a5acd;
}
.botoes-produto {
    display: flex;
    justify-content: center; 
    margin-top: 10px;
}

.comprar-btn,
.favoritos-btn {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.comprar-btn {
    background-color: #6a5acd; /* Cor roxa */
    color: #fff;
}

.favoritos-btn {
    background-color: #fff; /* Cor branca */
}


form {
    width: 300px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20vh auto;
}


input {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: #6a5acd;
    }
}

button {
    background-color: #ae8bc0b3;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


button:hover {
    background-color: #4b0082;
}


.informacoes-adicionais {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #310a4d;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.info-item {
    width: 30%;
}

.info-item h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.info-item p {
    font-size: 14px;
    margin: 0;
}


.produtos-container {
    margin-bottom: 60px; 
}

footer {
    background-color: #c8a0dcb3;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
}
